<!DOCTYPE html>
<html>
<head>
  <title>Gloop Record Store</title>
</head>
<body>
  <%= yield %>
  <nav>
    <ul>
      <li><a href="/search">Search Music</li>
      <li><a href="/albums">Show Music</a></li>
      <li><a href="/albums/new">Add Music</a></li>
    </ul>
  </nav>
</body>
</html>
