body {
  background-color: lightseagreen;
  color: greenyellow;
  font-family: 'Chicle', cursive;
}


.flex-container1 {
  display: flex;
  flex-flow: flex-direction flex-wrap|initial|inherit;
  justify-content:left;
  font-size: 150%;
  font-family: 'Chicle', cursive;
}

.flex-container2 {
  display: flex;
  flex-flow: flex-direction flex-wrap|initial|inherit;
  justify-content: center;
  margin-top: 30px;
  font-size: 150%;
  font-family: 'Chicle', cursive;
}

.flex-container3 {
  display: flex;
  flex-flow: flex-direction flex-wrap|initial|inherit;
  justify-content: center;
  margin-top: : 50px;
  font-size: 150%;
  font-family: 'Chicle', cursive;
}

.flex-container4 {
  display: flex;
  flex-flow: flex-direction flex-wrap|initial|inherit;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  font-size: 150%;
  font-family: 'Chicle', cursive;
}

.all-music {
  text-align: center;
  font-size: 150%;
}

.new {
  text-align: center;
  font-size: 150%;
}

.search-results {
  text-align: center;
  font-size: 150%;
}

.updated {
  text-align: center;
  font-size: 150%;
}

.deleted {
  text-align: center;
  font-size: 150%;
}
